<!DOCTYPE html>
<html>
<head>
    <title>Add Patient</title>
</head>
<body style="text-align:center; font-family:Arial; background:#f0fff0;">

<h1>🧑 Add Patient</h1>

{% if success %}
<p style="color:green;">{{ success }}</p>
{% endif %}

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

<form method="POST">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Patient Name"><br><br>
    <input type="text" name="age" placeholder="Age"><br><br>
    <input type="text" name="disease" placeholder="Disease"><br><br>
    <button type="submit">Save</button>
</form>

</body>
</html>